/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop (LG Devices) :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .slider-height {
    min-height: 650px;
  }

  .slider-content h2 {
    font-size: 52px;
  }

  .case-content h3 {
    font-size: 18px;
  }

  .consultation-form {
    padding: 30px;
  }

  .faq-thumb img {
    margin-left: 0;
    width: 100%;
  }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .single-cta {
    float: right;
    margin-left: 30px;
  }

  .menu-area {
    margin-bottom: -72px;
  }

  .main-menu ul li {
    margin-right: 20px;
  }

  .main-menu ul li a {
    font-size: 12px;
  }

  .slider-content h2 {
    font-size: 48px;
  }

  .slider-content p {
    font-size: 14px;
  }

  .slider-height {
    min-height: 680px;
  }

  .features-box h4 {
    font-size: 20px;
  }

  .single-testimonial.pt-190 {
    padding-top: 100px;
  }

  .faq-area {
    padding-bottom: 100px;
  }

  .footer-menu ul li {
    margin-left: 12px;
  }
}


/* small mobile :320px. */
@media (max-width: 767px) {}

/* Large Mobile :550px. */
@media only screen and (min-width: 550px) and (max-width: 767px) {
  .container {
    width: 450px
  }

}